body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.button {
    margin-top: 20px;
    padding: 10px;
    background-color: none;
}

.button a {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.button a:hover {
    color: orange;
    border: 2px solid orange;
    padding: 15px;
}